#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.a
*.o
*.la
*.lo
*.so
*.dll
*.exe
deps.mak
.deps/
.libs/

#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
# /test/
#-----------------------------------------------------------------------
/test/rangeio_test

#-----------------------------------------------------------------------
# /doc/
#-----------------------------------------------------------------------
